<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    </head>
    <body ng-app="app">
        <div ng-controller="ctrDatos">
            <div class="container">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input ng-model="productos.producto" 
                                       type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Descripcion:</label>
                                <input ng-model="productos.descripcion" 
                                       type="text" class="form-control"/>
                            </div>
                            <button ng-click="guardarProducto();" class="btn btn-success">Altas</button>
                        </div>
                    </div>
                    <div class="col-lg-6">  <div class="row">
                            
                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda...."/>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <th>Id</th>
                                <th>Producto</th>
                                <th>Descripcion</th>
                                <th>Options</th>
                                </thead>
                                <tr ng-repeat="producto in listaProductos | filter: busqueda">
                                    <td> {{producto.idProducto}}  </td>
                                    <td> {{producto.producto}}</td>
                                    <td>{{producto.descripcion}}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                ng-click="dameInfoProducto(producto.idProducto);">
                                            Actualizar
                                        </button>
                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>



                </div>
            </div>
        </div>




        <script src="../angularJs/angular.min.js"></script>
        <script src="jsAngular/config.js"></script>
        <script src="jsAngular/ctrTabla.js"></script>

    </body>
</html>
